.category {
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: all 0.1s ease;
  height: 400px;
  padding: 20px;
  margin-top: 10px;
}
.category:hover {
  box-shadow: 0px 6px 20px 0px #b7b7b7;
}

.category h2 {
  padding: 5px 0 15px 0;
  color: #444;
}

.category img {
  object-fit: contain;
  flex: 1;
}
.category a {
  padding-top: 10px;
  color: #ff6601;
  text-decoration: none;
}
