.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 25px;
}

.checkoutProduct__info {
  padding-left: 20px;
  flex: 1;
}

.checkoutProduct__info > button {
  background-color: #ff6601;
  border: 1px solid;
  margin-top: 10px;
  color: #fff;
  padding: 12px 20px;
  border-radius: 30px;
  outline-width: 0;
  cursor: pointer;
  font-size: 15px;
}
.checkoutProduct__info > button:hover {
  background-color: #eb650c;
}
.chekcoutProduct__header {
  display: flex;
}

.checkoutProduct__price {
  font-size: 22px;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
  flex: 1;
  padding-right: 30px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__ratingIcon {
  padding: 5px 0;
}
.checkoutProduct__ratingIcon svg {
  width: 20px;
  height: 20px;
}
