.chekcoutProduct {
    display: flex;
    margin: 20px 0;
}

.chekcoutProduct__info {
    padding-left: 20px;
}

.chekcoutProduct__info > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e32 #846a29;
    color: #111;

}

.chekcoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.iamge__rating {
    display: flex;
    
}