.checkout {
    display: flex;
    padding: 20px;
    background-color: white; 
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}


.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}


.checkout__title {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}