.footer {
  background-color: #232f3f;
  margin-top: 50px;
}

.footer__backTop {
  height: 50px;
  background-color: #37475a;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__backTop:hover {
  background-color: #485769;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 50px 0;
  max-width: 1000px;
  margin: auto;
}

.footer__col > ul {
  list-style: none;
  padding: 0;
}

.footer__col > ul li {
  color: #ddd;
  padding: 3px 0;
  font-size: small;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #848688;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer__bottom img {
  height: 30px;
  margin-right: 50px;
}

.footer__bottomItem { 
    display: inline-block!important;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;
    margin-right: 4px;
    width: 100px;
    text-align: center;
    color: #ccc;
}