.product {
  display: flex;
  flex-direction: column; 
  margin: 10px;
  padding-bottom: 20px;
  width: 100%;
  max-height: 420px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  transition: all 0.1s ease;
}
.product:hover {
  box-shadow: 0px 6px 20px 0px #b7b7b7;
}

.product > img {
  padding: 10px;
  width: 100%;
}
.product__info {
  padding: 5px 25px;
}

.product__rating {
  display: flex;
}

.product__ratingIcon {
  padding: 10px 0 5px 0;
}
.product__ratingIcon svg {
  width: 20px;
  height: 20px;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 25px;
  height: 200px;
}

.product > button {
  background-color: #ff6601;
  border: 1px solid;
  margin-top: 10px; 
  color: #fff;
  padding: 10px 16px;
  border-radius: 50px;
  outline-width: 0;
  cursor: pointer;
  font-size: 15px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.product > button:hover {
  background-color: #eb650c;
} 
.product > button:focus {
  border-color: #ff6601;
}
.product__price {
  margin-top: 5px;
  font-size: 20px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
