.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 130px;
  /* background-color: #f3f3f3;
    border: 1px solid #dddddd; */ 
}

 
.subtotal__gift {
  display: flex;
  align-items: center;
  padding: 8px 0 2px 0;
}

.subtotal__gift > input {
  margin-right: 5px; 
}

.subtotal > button {
  background-color: #ff6601;
  border: 1px solid;
  margin-top: 10px; 
  color: #fff;
  padding: 12px 20px; 
  outline-width: 0;
  cursor: pointer;
  font-size: 15px;
}
